extends base.pug

block content
	form(method='POST')
		.form-group
			input.form-control(
				type='text'
				name='task'
				id='task'
				value=card.task
				placeholder='Enter task...'
			)
		.form-group
			textarea.form-control(
				type='text'
				name='description'
				id='description'
				value=card.description
				placeholder='Enter description...'
			) #{card.description}
		.form-group
			input.form-control(
				type='text'
				name='category'
				id='category'
				value=card.category
				placeholder='Enter category...'
			)
		.form-group
		button.btn.btn-success.btn-sm(
			type='submit'
			id='btn-success'
			disabled
		) Save