extends base.pug

mixin listCards(panelType, header, cards, listCollapseId, col1, col2, col3, col4, display1, display2, cardCollapseId, collapseTarget, pushVal1, pushText1, pushVal2, pushText2)
	.panel.outer-panel(class=panelType)
		.panel-heading
				.row
					.col-xs-8
						h4= header
					.col-xs-4(id='collapse-col')
						if cards.length
							span(id=listCollapseId).glyphicon.glyphicon-sm.glyphicon-chevron-down
		.panel-body
				if !cards.length
					span.placeholder Push a card here
				else 
					each card, index in cards
						.media
							.media-body
								.panel.panel-default
									.panel-heading
										.row
											div(id='push-left', class=`${display1} col-xs-${col1}`)
												form(method='POST', action='/board/push')
													input.form-control.hidden(
														type='text'
														name='idStatus'
														id='push'
														value=`${card.id},${pushVal1}`
													)
													button.btn.btn-link.btn-xs(
														id='push-btn'
														type='submit'
														title=`Push to ${pushText1}`
													)
														span.glyphicon.glyphicon-sm.glyphicon-arrow-left
											div.hidden(class=`col-xs-${col2}`)
												span.glyphicon-chevron-down(
														class=cardCollapseId
														data-toggle='collapse' 
														href=`.${collapseTarget}${index}`
													)
											div(class=`col-xs-${col3}`)
												a(href=`/board/${card.id}/`)= card.task
											div(id='push-right', class=`${display2} col-xs-${col4}`)
												form(method='POST', action='/board/push')
													input.form-control.hidden(
														type='text'
														name='idStatus'
														id='push'
														value=`${card.id},${pushVal2}`
													)
													button.btn.btn-link.btn-xs(
														id='push-btn'
														type='submit'
														title=`Push to ${pushText2}`
													)
														span.glyphicon.glyphicon-sm.glyphicon-arrow-right

									.panel-collapse.collapse.in(class=`${collapseTarget}${index}`)
										.panel-body
											p= card.description
								
											form(method='POST', action='/board')
												.form-group
													input.form-control.hidden(
														type='text'
														name='filter'
														id='filter'
														value=card.category
													)
												button.btn.btn-info.btn-xs(
													type='submit'
													title='Filter cards by this category'
												)= card.category

block content
	if !openCards.length && !progressCards.length && !completeCards.length
		span Click on 
		span(style='font-weight: bold') New Card
		span  to get started.
	else
		.row
			.col-sm-3
				+listCards('panel-info', 'Open', openCards, 'collapse-open', '0', '1', '10', '1', 'hidden', '', 'glyphicon-collapse-open', 'open-collapse', '', '', 'PROGRESS', 'In Progress')
			.col-sm-3
				+listCards('panel-warning', 'In Progress', progressCards, 'collapse-progress', '2', '1', '8', '1', '', '', 'glyphicon-collapse-progress', 'progress-collapse', 'OPEN', 'Open', 'COMPLETE', 'Complete')
			.col-sm-5
				+listCards('panel-success', 'Complete', completeCards, 'collapse-complete', '1', '1', '10', '1', '', 'hidden', 'glyphicon-collapse-complete', 'complete-collapse', 'PROGRESS', 'In Progress', '', '')
				