extends base.pug

block content
	if !openCards.length && !progressCards.length
		span Click on 
		span(style='font-weight: bold') New Card
		span  to get started.
	else
		.row
			.col-sm-5
				.panel.panel-info(id='outer-panel')
					.panel-heading
							.row
								.col-xs-8
									h4= 'Open'
								.col-xs-4(id='collapse-col')
									if openCards.length
										span(id='collapse-open').glyphicon.glyphicon-sm.glyphicon-chevron-down
					.panel-body
							each card, index in openCards
								.media
									.media-body
										.panel.panel-default

											.panel-heading
												.row
													.col-xs-9
														a(href=`/board/${card.id}/`)= card.task
													.col-xs-1.hidden
															span.glyphicon-chevron-down.glyphicon-collapse-open(
																data-toggle='collapse' 
																href=`#collapse${index}`
															)
													.col-xs-1
														form(method='POST', action='/board/push')
															input.form-control.hidden(
																type='text'
																name='idStatus'
																id='push'
																value=`${card.id},PROGRESS`
															)
															button.btn.btn-success.btn-xs(
																id='push-btn'
																type='submit'
																title='Push to In Progress'
															)
																span.glyphicon.glyphicon-sm.glyphicon-arrow-right
											
											.panel-collapse.collapse.in(id=`collapse${index}`)
												.panel-body
													p= card.description
										
													form(method='POST')
														.form-group
															input.form-control.hidden(
																type='text'
																name='filter'
																id='filter'
																value=card.category
															)
														button.btn.btn-info.btn-xs(
															type='submit'
															title='Filter cards by this category'
														)= card.category
			.col-sm-7
				.panel.panel-info(id='outer-panel')
					.panel-heading
							.row
								.col-xs-8
									h4= 'In Progress'
								.col-xs-4(id='collapse-col')
									if progressCards.length
										span(id='collapse-progress').glyphicon.glyphicon-sm.glyphicon-chevron-down
					.panel-body
							each card, index in progressCards
								.media
									.media-body
										.panel.panel-default

											.panel-heading
												.row
													.col-xs-2
														form(method='POST', action='/board/push')
															input.form-control.hidden(
																type='text'
																name='idStatus'
																id='push'
																value=`${card.id},OPEN`
															)
															button.btn.btn-success.btn-xs(
																id='push-btn'
																type='submit'
																title='Push to Open'
															)
																span.glyphicon.glyphicon-sm.glyphicon-arrow-left
													.col-xs-1.hidden
														span.glyphicon-chevron-down.glyphicon-collapse-open(
																data-toggle='collapse' 
																href=`#collapse${index}`
															)
													.col-xs-9
														a(href=`/board/${card.id}/`)= card.task
											.panel-collapse.collapse.in(id=`collapse${index}`)
												.panel-body
													p= card.description
										
													form(method='POST')
														.form-group
															input.form-control.hidden(
																type='text'
																name='filter'
																id='filter'
																value=card.category
															)
														button.btn.btn-info.btn-xs(
															type='submit'
															title='Filter cards by this category'
														)= card.category
