extends base.pug

block content
	a(href='/board/add', class='btn btn-success btn-sm')
		span.glyphicon.glyphicon-plus
		span &nbsp; New Card

	hr

	.media
		.media-body
			.panel.panel-default
				.panel-heading
					h5= card.task
				.panel-body
					p= card.description
					form(method='POST')
						.form-group
							input.form-control.filter-btn(
								type='text'
								name='filter'
								id='filter'
								value=card.category
							)
						.form-group
							button.btn.btn-info.btn-xs(
								type='submit'
								title='Filter cards by this category'
							)= card.category
					p

			a(href=`/board/${card.id}/edit`, class='btn btn-success btn-sm')
				i.glyphicon.glyphicon-edit
			span &nbsp;
			a(href=`/board/${card.id}/delete`, class='btn btn-success btn-sm')
				i.glyphicon.glyphicon-trash